################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/ExcelTableBuilder/bin/Debug
/ExcelTableBuilder/obj/Debug
